.root {
  display: flex;
}

.categories {
max-width: 350px;
}

.category-list {
  
}

.category {
  display: flex;
  max-width: 350px;
}

.category-text{

}

.category-close{
  justify-content: flex-end;
  max-height: 30px;
}

.category-add{
  justify-content: flex-end;
}